<div ng-show='user_access_admin || user_access_view_reseller' class="row">
    <div class='col-md-12'>
    <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                        <i class="fa fa-caret-right font-torange"></i>
                    </li>
                    <li>
                        <a href="#/resellers">Reseller</a>
                        <i  class="fa fa-caret-right font-torange"></i>
                    </li>
                    <li>
                        <a href="#/resellers">Resellers</a>
                        
                    </li>
                </ul>
            </div>
    </div>
</div>
<div class="row" ng-show='user_access_admin || user_access_view_reseller'>      
<div class="col-md-12">
                            <div class="portlet light " style="border:1px solid #BFCAD1;">
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <i class="icon-settings font-torange"></i>
                                        <span class="caption-subject bold uppercase">Reseller</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="panel " style="border:1px solid #E9EDEF;">
                    <div class=" bg-font-grey-steel" style="padding:10px;background-color:#fbfcfd;border-bottom:1px solid #E9EDEF;">
                        <h3 class="panel-title"><strong>Reseller Search Panel</strong></h3>
                    </div>
                    <div class="panel-body">
                                        <table style="margin:auto;">
                                            <tr>
                                                <td>
                                                    Name:
                                                    <input class='form-control' ng-model="filter.name" typeahead-min-length = '0'
                                                     uib-typeahead="reseller.name as reseller.name for reseller in getReseller($viewValue , 'name') " 
                                                     typeahead-on-select='searchData()' placeholder="Search...">
                                                </td>
                                                <td>
                                                    Tel:<input class='form-control' type='text' ng-model='filter.tel'
                                                    uib-typeahead="reseller.tel as reseller.tel for reseller in getReseller($viewValue , 'tel') " typeahead-min-length = '0'
                                                     typeahead-on-select='searchData()'  ng-keydown='checkNumber($event)'
                                    ng-keyup = 'chekKeyUp($event)'
                                                      >
                                                </td>
                                                <td>
                                                    Fax:<input class='form-control' type='text' 
                                                    uib-typeahead="reseller.fax as reseller.fax for reseller in getReseller($viewValue , 'fax') " typeahead-min-length = '0'
                                                    ng-model='filter.fax' typeahead-on-select='searchData()' ng-keydown='checkNumber($event)'
                                    ng-keyup = 'chekKeyUp($event)'>
                                                </td>
                                                <td>
                                                    Address:<input class='form-control' type='text' ng-model='filter.address' ng-enter='searchData()'>
                                                </td>
                                                <td>
                                                    City:<input class='form-control' type='text'
                                                    uib-typeahead="r as r.text for r in getCity($viewValue) " typeahead-min-length = '0'
                                                     ng-model='filter.city' typeahead-on-select='searchData()'>
                                                </td>
                                                <td>
                                                    <a style="margin-top:18px;" href="javascript:;" class="btn btn-default" ng-click="searchData()" > 
                                                        <i class="fa fa-search font-torange" style="margin-right:5px;"></i>Search
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <br>
                                    </div>
                                    <div class="grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-cellNav ui-grid-resize-columns  ui-grid-auto-resize external-scopes="$scope" style="margin:auto;width:100%"></div>
                                </div>
                                
                            </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>

