<div class="row">
<div class="col-md-12" >
    <button type="button" class="btn green " data-ng-click="register_province()">Add Province</button>
    <button type="button" class="btn blue" data-ng-click="register_city()">Add City</button>
    <button type="button" class="btn red " ng-confirm-click="delete_city()" ng-confirm-message="Are You Sure To Delete City?">Delete</button>
    <div class="row">
    <div class="form-group col-md-3 form-md-line-input">
        <input type="text" class="form-control ng-pristine ng-valid ng-touched"  id="form_control_1" placeholder="Province/City" data-ng-model="city" required>

        <span class="help-block">Add Province : press add province button <br/>Add City : please select province/city from under tree before press add city button </span>
        <br/>
    </div>
    <div class="form-group col-md-3 form-md-line-input">
        <input type="text" class="form-control ng-pristine ng-valid ng-touched"   placeholder="English name" data-ng-model="english_name" required>
    
    </div>
    <div class="form-group col-md-3 form-md-line-input">
        <input type="text" class="form-control ng-pristine ng-valid ng-touched"   placeholder="Abbreviation" data-ng-model="abbr" required>
    
    </div>
    </div>
        <div id="city_tree">

        </div>
    </div>
</div> 


