<div class="ui-grid-cell-contents">
  <div class="btn-group" dropdown dropdown-append-to-body>
    <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
      Dropdown <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
  </ul>
  </div>
</div>